h1 {
    text-align: center;
    font-size: 12pt;
    color: #000099;
    margin-bottom: 5px;
    text-decoration: underline;
}

h2 {
    text-align: center;
}

table {
    margin: 5px;
    width: 290px;
}

th {
    padding: 3px;
}

td {
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #990000;
    background-color: #ffffcc;
}

#trHeader {
    text-decoration: underline;
    color: #990000;
}

.centerCell {
    text-align: center;
}

.boxed {
    border: 1px solid green ;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: auto;
    overflow: auto;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}