/* .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      } */

body {
  /* background-color: rgb(231, 255, 115); */
}


h1 {
  text-align: center;
  padding: 20px;
}

nav {
  min-height: 10vw;
}

main {
  min-height: calc( 100vh - 10vw - 6vw );
}

footer {
  min-height: 6vw;
}
